{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contactez-nous {% endblock %}
{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="center"><b>Comment nous contacter ?</b></h1> <br><br>
    <div class="row container-fluid">
    {% if (app.request.method != "POST") %}
        <div class="col-md-2">
        </div>
        <div class="col-md-offset-1 col-md-4">
            <h2>Formulaire de contact</h2><br><br>
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form(form) }}
        </div>
    {% else %}
        <div class="col-md-6">
        </div>
    {% endif %}
        <div class="col-md-1">
        </div>
        <div class="col-md-offset-1 col-md-5 sizeText2">
            <h2>Coordonnées</h2>
            <br><br>
            <b><a style="text-decoration: none; color: darkslategrey" href="mailto:contact@homeeat.fr">contact@homeeat.fr</a></b>
            <br>
            <em><a style="text-decoration: none; color: darkslategrey" href="tel:3630">36 30</a></em> <br><br>
        </div>

    </div>
    <br><br><br>
{% endblock %}

{% block stylesheets %}

{% endblock %}
