{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="center sizeText3">{{ 'registration.check_email'|trans({'%email%': user.email}) }}<br><br>
    Vérifiez vos spams si vous ne recevez pas de mail.
    </p>
{% endblock fos_user_content %}
